<form [formGroup]="addProduct" (ngSubmit)="onSubmit()" novalidate>
  <mat-card class="example-container">
    <mat-card-title>
      Add product
    </mat-card-title>
    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="addProduct.controls['name'].invalid
           && (addProduct.controls['name'].dirty || addProduct.controls['name'].touched) 
           && addProduct.controls['name'].errors.required">
            Name is required.
        </mat-error>
      </mat-form-field>
      

      <h4>Images</h4> 
      {{addProduct.controls['images']}}
      <mat-form-field appearance="outline"  formArrayName="images" 
          *ngFor="let image of images.controls; let i=index">
          <mat-label>Image Url {{i+1}}</mat-label>
        <input
          matInput 
          type="text"
          [formControlName]="i">
          <mat-icon *ngIf="i == 0" (click)="addOneMoreImg()" matSuffix>add</mat-icon>
          <mat-icon *ngIf="i > 0" matSuffix (click)="removeImg(i)">delete</mat-icon>
      </mat-form-field>
     
      
      <mat-form-field appearance="outline">
          <mat-label> Product description </mat-label>
        <textarea matInput rows="3"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-4">
          <mat-label> Price </mat-label>
          <input matInput type="number" formControlName="price">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="col-md-4">
          <mat-label> Discount </mat-label>
        <input matInput type="number" formControlName="discount">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-4">
          <mat-label> Warrenty </mat-label>
          <input matInput type="number" formControlName="warrenty">
        </mat-form-field>
  

      <mat-form-field appearance="outline" class="col-md-6">
        <mat-select (selectionChange)="loadBrands($event.value)" formControlName="category_id" placeholder="Choose Category">
            <mat-option *ngFor="let category of categories" [value]="category._id"  >
              {{category.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="col-md-6">
        <mat-select formControlName="brand" placeholder="Choose Brand">
            <mat-option *ngFor="let brand of brands" [value]="brand._id"  >
              {{brand.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
     
      <h3>highlights</h3>
      <mat-form-field appearance="outline" formArrayName="highlights" 
         *ngFor="let highlight of highlights.controls; let i=index">
         <mat-label>highlight point {{i+1}}</mat-label>
        <input
          matInput 
          type="text" 
          [formControlName]="i">
          <mat-icon *ngIf="i == 0" (click)="addOneMore()" matSuffix>add</mat-icon>
          <mat-icon *ngIf="i > 0" matSuffix (click)="removeHighlight(i)">delete</mat-icon>
      </mat-form-field>

      <div formGroupName="general">
        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label> Model Name </mat-label>
          <input matInput type="text"  formControlName="model_name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label> Model Number </mat-label>
          <input matInput type="text" formControlName="model_number">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label> Color</mat-label>
            <input matInput type="text" placeholder="color" formControlName="color">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label> In box</mat-label>
          <input matInput type="text" formControlName="in_the_box">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label> Sim Type </mat-label>
          <input matInput type="text" formControlName="sim_type">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label> Touch Screen </mat-label>
          <input matInput type="text" formControlName="touchScreen">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label> Quick charging </mat-label>
          <input matInput type="text"  formControlName="quick_charging">
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
        <button type="submit" 
          class="col-sm-2"
          mat-raised-button 
          color="primary" 
          mat-button>Submit</button>
        <a  class="col-sm-2" color="secondary" routerLink="/admin/products"  mat-button>Cancel</a>
    </mat-card-actions>
  </mat-card>
</form>

