<form [formGroup]="addProduct" (ngSubmit)="onSubmit()" novalidate>
  <mat-card class="example-container">
    <mat-card-title>
      Add product
    </mat-card-title>
    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="addProduct.controls['name'].invalid
           && (addProduct.controls['name'].dirty || addProduct.controls['name'].touched) 
           && addProduct.controls['name'].errors.required">
          Name is required.
        </mat-error>
      </mat-form-field>


      <h4>Images</h4>
      <mat-form-field appearance="outline" formArrayName="images" *ngFor="let image of images.controls; let i=index">
        <mat-label>Image Url {{i+1}}</mat-label>
        <input matInput type="url" pattern="https?://.+" [formControlName]="i" required>
        <mat-error *ngIf="image.invalid ||
          (image.dirty || image.touched)">
          Image URL is required.
        </mat-error>

        <mat-icon *ngIf="i == 0" (click)="addOneMoreImg()" matSuffix>add</mat-icon>
        <mat-icon *ngIf="i > 0" matSuffix (click)="removeImg(i)">delete</mat-icon>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label> Product description </mat-label>
        <textarea matInput rows="3" formControlName="description"></textarea>
        <mat-error *ngIf="addProduct.controls['description'].invalid
        && (addProduct.controls['description'].dirty || addProduct.controls['description'].touched) 
        && addProduct.controls['description'].errors.required">
          Product Description is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label> Price </mat-label>
        <input matInput type="number" formControlName="price">
        <mat-error *ngIf="addProduct.controls['price'].invalid
        && (addProduct.controls['price'].dirty || addProduct.controls['price'].touched) 
        && addProduct.controls['price'].errors.required">
          Price is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label> Discount </mat-label>
        <input matInput type="number" formControlName="discount">
        <mat-error *ngIf="addProduct.controls['discount'].invalid
        && (addProduct.controls['discount'].dirty || addProduct.controls['discount'].touched) 
        && addProduct.controls['discount'].errors.required">
          Discount is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label> Warrenty </mat-label>
        <input matInput type="number" formControlName="warrenty">
        <mat-error *ngIf="addProduct.controls['warrenty'].invalid
          && (addProduct.controls['warrenty'].dirty || addProduct.controls['warrenty'].touched) 
          && addProduct.controls['warrenty'].errors.required">
          Warranty is required.
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="col-md-6">
        <mat-select (selectionChange)="loadBrands($event.value)" formControlName="category_id"
          placeholder="Choose Category">
          <mat-option *ngFor="let category of categories" [value]="category._id">
            {{category.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addProduct.controls['category_id'].invalid
          && (addProduct.controls['category_id'].dirty || addProduct.controls['category_id'].touched) 
          && addProduct.controls['category_id'].errors?.required">
          Category is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-6">
        <mat-select formControlName="brand" placeholder="Choose Brand">
          <mat-option *ngFor="let brand of brands" [value]="brand._id">
            {{brand.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addProduct.controls['brand'].invalid
          && (addProduct.controls['brand'].dirty || addProduct.controls['brand'].touched) 
          && addProduct.controls['category_id'].errors?.required">
          Brand is required.
        </mat-error>
      </mat-form-field>


      <h3>highlights</h3>
      <mat-form-field appearance="outline" formArrayName="highlights"
        *ngFor="let highlight of highlights.controls; let i=index">
        <mat-label>highlight point {{i+1}}</mat-label>
        <input matInput type="text" [formControlName]="i">
        <mat-icon *ngIf="i == 0" (click)="addOneMore()" matSuffix>add</mat-icon>
        <mat-icon *ngIf="i > 0" matSuffix (click)="removeHighlight(i)">delete</mat-icon>
      </mat-form-field>

      <div formGroupName="general">
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label> Model Name </mat-label>
          <input matInput type="text" formControlName="model_name">
          <mat-error *ngIf="f.general.controls['model_name'].invalid
          && (f.general.controls['model_name'].dirty || f.general.controls['model_name'].touched) 
          && f.general.controls['model_name'].errors.required">
            Model Name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label> Model Number </mat-label>
          <input matInput type="number" formControlName="model_number">
          <mat-error *ngIf="f.general.controls['model_number'].invalid
          && (f.general.controls['model_number'].dirty || f.general.controls['model_number'].touched) 
          && f.general.controls['model_number'].errors.required">
            Model Number is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label> Color</mat-label>
          <input matInput type="text" placeholder="color" formControlName="color">
          <mat-error *ngIf="f.general.controls['color'].invalid
            && (f.general.controls['color'].dirty || f.general.controls['color'].touched) 
            && f.general.controls['color'].errors.required">
            Color is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label> In box</mat-label>
          <input matInput type="text" formControlName="in_the_box">
          <mat-error *ngIf="f.general.controls['in_the_box'].invalid
            && (f.general.controls['in_the_box'].dirty || f.general.controls['in_the_box'].touched) 
            && f.general.controls['in_the_box'].errors.required">
            In box is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label> Sim Type </mat-label>
          <input matInput type="text" formControlName="sim_type">
          <mat-error *ngIf="f.general.controls['sim_type'].invalid
          && (f.general.controls['sim_type'].dirty || f.general.controls['sim_type'].touched) 
          && f.general.controls['sim_type'].errors.required">
            Sim Type is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label> Touch Screen </mat-label>
          <input matInput type="text" formControlName="touchScreen">
          <!-- <mat-error *ngIf="f.general.controls['touchScreen'].invalid
          && (f.general.controls['touchScreen'].dirty || f.general.controls['touchScreen'].touched) 
          && f.general.controls['touchScreen'].errors.required">
          Touch Screen is required.
          </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label> Quick charging </mat-label>
          <input matInput type="text" formControlName="quick_charging">
          <!-- <mat-error *ngIf="f.general.controls['quick_charging'].invalid
          && (f.general.controls['quick_charging'].dirty || f.general.controls['quick_charging'].touched) 
          && f.general.controls['quick_charging'].errors.required">
            Quick charging is required.
          </mat-error> -->
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button type="submit" class="col-sm-2" mat-raised-button color="primary" mat-button>Submit</button>
      <a class="col-sm-2" color="secondary" routerLink="/admin/products" mat-button>Cancel</a>
    </mat-card-actions>
  </mat-card>
</form>