<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand col-md-3" routerLink="">Shopping App</a>
      <form class="form-inline col-md-7">
        <input class="form-control col-md-7" type="text" placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav float-right text-right">
        
        <li class="nav-item active">
          <a *ngIf="!user" class="nav-link" 
          (click)="openDialog()">Login & Signup
         </a>
         <a *ngIf="user" class="nav-link" 
         (click)="logOut()">hi {{user.first_name}}
        </a>
        </li>
        <li *ngIf="user" class="nav-item active">
          <a class="nav-link" [routerLink]="['cart']">Cart </a>
        </li>
       
      </ul>
    </nav>
  </header>
  <div class="margin">
      <router-outlet></router-outlet>
  </div>
</div>