<div class="container-fluid margin-top-10">
    <div class="row">
        <div class="col-md-2">
            <h3> Shopping App</h3>
            <mat-list>
                <mat-list-item>
                    <a routerLink="/admin/products" href="">Products</a>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                        <a routerLink="customer" routerLinkActive="active">Customers</a>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button class="btn-danger" (click)="logMeOut()">Logout</button>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="col-md-10">
                <router-outlet></router-outlet>
        </div>
    </div>
</div>

