<form [formGroup]="editProduct" (ngSubmit)="onSubmit()">
  <mat-card class="example-container">
    <mat-card-title>
      Update product
    </mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Name" formControlName="name">
        <mat-error *ngIf="editProduct.controls['name'].invalid
        && (editProduct.controls['name'].dirty || editProduct.controls['name'].touched) 
        && editProduct.controls['name'].errors.required">
          Name is required.
        </mat-error>
      </mat-form-field>

      <h4>Images</h4>
      <mat-form-field appearance="outline" formArrayName="images" *ngFor="let image of images.controls; let i = index">
        <input matInput type="text" [formControlName]="i" required>
        <mat-error *ngIf="image.invalid ||
          (image.dirty || image.touched)">
          Image URL is required.
        </mat-error>
        <mat-icon *ngIf="i == 0" (click)="addOneMoreImg()" matSuffix>add</mat-icon>
        <mat-icon *ngIf="i > 0" matSuffix (click)="removeImg(i)">delete</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Product description </mat-label>
        <textarea matInput rows="3" formControlName="description"></textarea>
        <mat-error *ngIf="editProduct.controls['description'].invalid
        && (editProduct.controls['description'].dirty || editProduct.controls['description'].touched) 
        && editProduct.controls['description'].errors.required">
          Product Description is required.
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="col-md-4">
        <input matInput type="number" placeholder="price" formControlName="price">
        <mat-error *ngIf="editProduct.controls['price'].invalid
        && (editProduct.controls['price'].dirty || editProduct.controls['price'].touched) 
        && editProduct.controls['price'].errors.required">
          Price is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-4">
        <input matInput type="number" placeholder="discount" formControlName="discount">
        <mat-error *ngIf="editProduct.controls['discount'].invalid
        && (editProduct.controls['discount'].dirty || editProduct.controls['discount'].touched) 
        && editProduct.controls['discount'].errors.required">
          Discount is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-4">
        <input matInput type="number" placeholder="warrenty" formControlName="warrenty">
        <mat-error *ngIf="editProduct.controls['warrenty'].invalid
        && (editProduct.controls['warrenty'].dirty || editProduct.controls['warrenty'].touched) 
        && editProduct.controls['warrenty'].errors.required">
          Warranty is required.
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="col-md-6">
        <mat-select (selectionChange)="loadBrands($event.value)" formControlName="category_id"
          placeholder="Choose Category">
          <mat-option *ngFor="let category of categories" [value]="category._id">
            {{category.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editProduct.controls['category_id'].invalid
          && (editProduct.controls['category_id'].dirty || editProduct.controls['category_id'].touched) 
          && editProduct.controls['category_id'].errors?.required">
          Category is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-6">
        <mat-select formControlName="brand" placeholder="Choose Brand">
          <mat-option *ngFor="let brand of brands" [value]="brand._id">
            {{brand.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editProduct.controls['brand'].invalid
          && (editProduct.controls['brand'].dirty || editProduct.controls['brand'].touched) 
          && editProduct.controls['category_id'].errors?.required">
          Brand is required.
        </mat-error>
      </mat-form-field>
     
      <h3>highlights</h3> 
      <mat-form-field appearance="outline" formArrayName="highlights" *ngFor="let highlight of highlights.controls; let i=index">
        <input matInput type="text" [formControlName]="i">
        <mat-icon *ngIf="i == 0" (click)="addOneMoreHighlight()" matSuffix>add</mat-icon>
        <mat-icon *ngIf="i > 0" matSuffix (click)="removeHighlight(i)">delete</mat-icon>
      </mat-form-field>

      <div formGroupName="general">
        <mat-form-field appearance="outline" class="col-md-6">
          <input matInput type="text" placeholder="model name" formControlName="model_name">
          <mat-error *ngIf="f.general.controls['model_name'].invalid
          && (f.general.controls['model_name'].dirty || f.general.controls['model_name'].touched) 
          && f.general.controls['model_name'].errors.required">
            Model Name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <input matInput type="text" placeholder="model number" formControlName="model_number">
          <mat-error *ngIf="f.general.controls['model_number'].invalid
          && (f.general.controls['model_number'].dirty || f.general.controls['model_number'].touched) 
          && f.general.controls['model_number'].errors.required">
            Model Number is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <input matInput type="text" placeholder="color" formControlName="color">
          <mat-error *ngIf="f.general.controls['color'].invalid
            && (f.general.controls['color'].dirty || f.general.controls['color'].touched) 
            && f.general.controls['color'].errors.required">
            Color is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <input matInput type="text" placeholder="in the box" formControlName="in_the_box">
          <mat-error *ngIf="f.general.controls['in_the_box'].invalid
          && (f.general.controls['in_the_box'].dirty || f.general.controls['in_the_box'].touched) 
          && f.general.controls['in_the_box'].errors.required">
            In box is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
          <input matInput type="text" placeholder="sim type" formControlName="sim_type">
          <mat-error *ngIf="f.general.controls['sim_type'].invalid
          && (f.general.controls['sim_type'].dirty || f.general.controls['sim_type'].touched) 
          && f.general.controls['sim_type'].errors.required">
            Sim Type is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label> Touch Screen </mat-label>
          <input matInput type="text" formControlName="touchScreen">
          <!-- <mat-error *ngIf="f.general.controls['touchScreen'].invalid
          && (f.general.controls['touchScreen'].dirty || f.general.controls['touchScreen'].touched) 
          && f.general.controls['touchScreen'].errors.required">
          Touch Screen is required.
          </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label> Quick charging </mat-label>
          <input matInput type="text" formControlName="quick_charging">
          <!-- <mat-error *ngIf="f.general.controls['quick_charging'].invalid
          && (f.general.controls['quick_charging'].dirty || f.general.controls['quick_charging'].touched) 
          && f.general.controls['quick_charging'].errors.required">
            Quick charging is required.
          </mat-error> -->
        </mat-form-field>

      </div>
    </mat-card-content>

    <mat-card-actions>
      <button type="submit" [disabled]="!editProduct.valid" mat-raised-button color="primary" mat-button>Submit</button>
      <button mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>