.prod{
    text-align: left;
}

.prodimg{
    height: 200px;
    width: 150px;
}

.product-content{
    min-height: 50px;
}


.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
  