<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand col-md-3" href="#">Shopping App</a>
      <form class="form-inline col-md-7">
        <input class="form-control col-md-7" type="text" placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav float-right text-right">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Login & Signup <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Cart <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </nav>
  </header>
  <div class="container main">
    <app-banner></app-banner>
    <div class="container-fluid margin-top-20" *ngFor="let category of productCategories" >
        <div class="row">
          <div class="col-md-10">
              <h3>{{category.name}}</h3>
          </div>
          <div class="col-md-2 text-right">
              <button class="btn btn-primary"> Show All</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 margin-top-10"  *ngFor="let product of category.brands">
                <app-product [productData]="product"></app-product>
            </div>
        </div>
    </div>
  </div>
</div>

