<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-8">
    <p>Redmi 7A (Matte Black, 32 GB)  (2 GB RAM)</p>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" selected>4.4 *</mat-chip> 4.483,000 Ratings & 5,911 Reviews
    </mat-chip-list>
    <br/>
    <p>Extra ₹800 discount</p>
    <p>₹6,199₹6,99911% off</p>
    <div class="row">
      <div class="col-md-2">
        Highlights
      </div>
      <div class="col-md-10">
        <ul>
          <li >
            highlightItem iitem
          </li>
          <li >
            highlightItem item 2
          </li>
          <li >
            highlightItem item 3
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Description
      </div>
      <div class="col-md-10">
        With the Redmi 7A smartphone, you can access your digital world right in the palm of your hand. It is crafted and designed to ensure smooth operation and seamless performance. It comes with an HD Full Screen Display that enhances your viewing experience. Also, as it comes with up to 256 GB of expandable storage, you can store your favourite videos, photos, and songs and enjoy them anytime and anywhere. It also comes with powerful rear and front cameras that let you click stunning pictures and selfies. Access all these features and more, such as the High-volume Speaker, and Headphone-free FM Radio by unlocking the Redmi 7A instantly using the AI Face Unlock Technology.
      </div>
    </div>

  </div>
</div>